build/
dist/
*_private.h
*_private.rc
*_private.res
Makefile.win
launcher.ini
javalauncher.layout
CMakeCache.txt
**/CMakeFiles/*
Win32/*
**/*.dir/*
nbproject/*
Debug/**

*.opensdf
*.cmake
*.jar
*.exe
*.o
*.a
*.lib
*.obj
*.tmp
*.log
*.vcxproj
*.vcxproj.filters
*.sdf
*.sln
*.suo

Thumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
